@import "./reset";

:root {
  --white: white;
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --neutral: hsl(0, 0%, 59%);
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.wrapper {
  align-items: center;
  background: 
    url("../../images/bg-pattern-top.svg") no-repeat,
    url("../../images/bg-pattern-bottom.svg") no-repeat;
  background-color: var(--dark-cyan);
  background-position: -45.625rem -40.625rem, 8.75rem 17.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.card {
  --card-size: 23.4375rem;
  background: url("../../images/bg-pattern-card.svg") no-repeat left top/var(--card-size) var(--white);
  box-shadow: 0 0 2.8125rem rgba(0, 0, 0, .2);
  border-radius: 1rem;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 1.5rem;
  text-align: center;
  transition: box-shadow .45s;
  width: min(var(--card-size), calc(100vw - 3rem));

  &:hover {
    box-shadow: 0 0 2.8125rem rgba(0, 0, 0, .4);
  }
  
  &__avatar-image {
    background-color: var(--white);
    border: 0.375rem solid var(--white);
    border-radius: 50%;
    margin: 6rem 0 1rem 0;
  }
  
  &__info {
    font-size: 1.125rem;
    margin-bottom: .6rem;
  }
  
  &__name {
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
    margin-right: .25rem;
  }
  
  &__age {
    color: var(--dark-grayish-blue);
    font-weight: 400;
  }
  
  &__country {
    color: var(--dark-grayish-blue);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  
  &__stats {
    border-top: 0.0625rem solid rgba(0, 0, 0, .1);
    display: grid;
    font-size: 1.125rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem 2rem;
  }
  
  &__quantity {
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: .25rem;
  }
  
  &__type {
    color: var(--dark-grayish-blue);
    font-size: .65rem;
    font-weight: 400;
    letter-spacing: 0.125rem;
  }
}

.attribution {
  color: var(--white);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: .8rem;
  text-align: center;
  font-style: italic;

  &__link {
    color: var(--very-dark-desaturated-blue);
  }
}

@media screen and (min-width: 48rem) {
  .wrapper {
    background-position: -18.75rem -31.25rem, 43.75rem 24.375rem;
  }
}